{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div style="text-align: center">
        <h2>La collection de souvenir</h2>
    </div>
    <br><br>
    <img src="https://i.pinimg.com/564x/19/0b/92/190b92ceb373d89b836c8bfe2793a28c.jpg" class="rounded w-50 mx-auto d-block" alt="...">
    <br>
    <div style="margin: 10px">
        <h4 style="text-align: center">Préambule</h4>
        <p>Nous vous proposons un site où vous pourrez stocker vos idées, vos recettes afin de ne plus jamais les perdres dans vos différents classeurs</p>
    </div>
{% endblock %}
